<div class="container">
 
    <div class="card">
 
        <form (ngSubmit)="savePS()">
 
            <h3> {{isEditMode ? 'Edit PS details' : 'Add PS details'}}</h3>
 
            <mat-form-field class="field" appearance="fill">
<mat-label>Enter Police Station Code</mat-label>
<input name="abc1" disabled [(ngModel)]="ps.ps_cd" matInput placeholder="Police Station Code">
</mat-form-field>
<br>
<mat-form-field class="field" appearance="fill">
<mat-label>Enter Police Station Name</mat-label>
<input name="abc2" [(ngModel)]="ps.ps_name" matInput placeholder="Police Station Name">
</mat-form-field>
<br>
<div class="p-2">
<mat-form-field appearance="outline">
<mat-label>State</mat-label>
<mat-select name="abs" [(ngModel)]="ps.state_cd" (valueChange)="selectState($event)">
<mat-option value="">Select</mat-option>
<mat-option *ngFor="let state of states" [value]="state.state_cd">{{state.state_name}}
</mat-option>
</mat-select>
</mat-form-field>
</div>
<div class="p-2">
<mat-form-field appearance="outline">
<mat-label>District </mat-label>
<mat-select name="abc4" [(ngModel)]="ps.district_cd" (valueChange)="selectDistrict($event)">
<mat-option value="">Select</mat-option>
<mat-option *ngFor="let district of districts"
                            [value]="district.district_cd">{{district.district_name}}
</mat-option>
</mat-select>
</mat-form-field>
</div>
<div class="p-2">
<mat-form-field appearance="outline">
<mat-label>Place</mat-label>
<mat-select disableRipple class="form-control" name="abc5" [(ngModel)]="ps.place_of_ps">
<mat-option value="">Select</mat-option>
<mat-option *ngFor="let place of places" [value]="place.place_of_ps">{{place.place_of_ps}}
</mat-option>
</mat-select>
</mat-form-field>
</div>
<mat-form-field class="field" appearance="fill">
<mat-label>Modified By</mat-label>
<input [disabled]="disableM" name="modified_by" name="abc6" [(ngModel)]="ps.modified_by" matInput
                    placeholder="Police Station Modified By">
</mat-form-field>
<br>
<!-- <mat-form-field class="example-full-width">
<mat-label>Modified Date</mat-label>
<input matInput [matDatepicker]="picker" name="abc7" [(ngModel)]="ps.modified_dttm" >
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker">
<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
</mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<br>
<mat-form-field class="field" appearance="fill">
<mat-label>Instantiated By</mat-label>
<input [disabled]="disableI" name="instantiated_by" name="abc8" [(ngModel)]="ps.instantiated_by" matInput
                    placeholder="Police Station instantiated_by">
</mat-form-field>
<br>
<!-- <mat-form-field class="example-full-width">
<mat-label>Instantiation Date</mat-label>
<input matInput [matDatepicker]="picker1" name="abc7" [(ngModel)]="ps.instantiated_dttm" >
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker1">
<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
</mat-datepicker-toggle>
<mat-datepicker #picker1></mat-datepicker>
</mat-form-field> -->
<br>
 
<!-- 
<mat-form-field class="example-full-width">
<mat-label>Validity</mat-label>
<input matInput [matDatepicker]="picker2" name="abc7" [(ngModel)]="ps.validity_dttm" >
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker2">
<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
</mat-datepicker-toggle>
<mat-datepicker #picker2></mat-datepicker>
</mat-form-field> -->
 
 
            <div class="text-center">
<button class="bttn" type="submit" class="btn btn-primary">{{isEditMode ? 'Update' : 'Save'}}</button>
</div>
 
        </form>
 
    </div>
 
</div>